<!DOCTYPE html>
<html>
<head>
  <title>Lista de Productos en Tiempo Real</title>
</head>
<body>
  <h1>Lista de productos en tiempo real</h1>
  <ul id="products-list"></ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    document.addEventListener('DOMContentLoaded', () => {
      socket.emit('getProducts');
    });

    socket.on('productsUpdate', (products) => {
      updateProductsList(products);
    });

    function updateProductsList(products) {
      const productsListElement = document.getElementById('products-list');
      productsListElement.innerHTML = '';

      products.forEach((product) => {
        const listItem = document.createElement('li');
        listItem.textContent = `${product.name} - ${product.price}`;
        productsListElement.appendChild(listItem);
      });
    }
  </script>
</body>
</html>

